body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu {
  position: absolute;
  left: 32px;
  top: 32px;
}

.menu-button {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  background-color: #b8b8b8;
  align-items: center;
  justify-content: center;
}

.menu-button-altered {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #b8b8b8;
  border-radius: 32px;
}

.plus {
  fill: #fff;
  height: 32px;
  width: 32px;
  transition: all 0.5s;
}

.plus.rotate {
  rotate: 45deg;
  fill: red;
}
